<div class="container my-2 p-2">
  <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary" data-bs-theme="dark" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Edmind</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PLATFORM
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">DISCOVERY EDUECATIN EXPERIENCE</a></li>
              <li><a class="dropdown-item" href="#">INTERGRATIONS</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">RESEARCH AND IMPACTS</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CURRICULUM
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">SCIENCE</a></li>
              <li><a class="dropdown-item" href="#">SOCIAL STUDIES</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">STEM</a></li>
              <li><a class="dropdown-item" href="#">CODING</a></li>
              <li><a class="dropdown-item" href="#">SEE ALL CURRICULUM</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              EDUCATION RESOURCES
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              INSIGHTS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SOCOAL IMPACT
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <span>" "</span>
        <form class="class=d-flex">
          <button class="btn btn-outline-success me-2" type="button">LOGIN</button>
          <button class="btn btn-sm btn-outline-secondary" type="button">CONTACT US</button>
        </form>

      </div>
    </div>
  </nav>
</div>